.container {
    margin-top: 30px;
}
.editContainer{
  margin-left: -55%;
}

input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
  border: 3px solid red;
}
  
input.ng-valid.ng-touched,select.ng-valid.ng-touched{
  border:3px solid green;
}