.card {
  max-width: 25em; /* Decreased card width */
  background-color: #f9e998;
  border: 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin: 1em 1em;
  display: flex;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.card .image-section {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.card .image-section img {
  width: 100%;
  max-width: 130px; /* Decreased image width */
  margin-right: 1em;
  border-radius: 0.7em;
}

.card .category {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #898989;
  color: white;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  font-weight: bold;
}

.card .text-section {
  flex: 1;
}

.card .cta-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em; /* Increased margin between buttons */
}

.card .cta-section .btn {
  padding: 0.3em 0.5em;
  margin-left: 0.5em; /* Added space between buttons */
}
