.heading{
    margin-left: 40%;
}

.sticky-button{
    font-size: 2.5em;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom:50px;
    right: 70px;
    padding: 0 10px;
    border-radius: 50%;
}

.editTab{
    position: fixed;
    bottom:200px;
    right: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .input-group .form-control {
    flex: 1;
    margin-right: 5px;
  }
  
  .input-group-append {
    display: flex;
    gap: 5px;
  }
  
