.heading{
    margin-left: 40%;
}

.sticky-button{
    font-size: 2.5em;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom:50px;
    right: 70px;
    padding: 0 10px;
    border-radius: 50%;
}

.editTab{
    position: fixed;
    bottom:200px;
    right: 10px;
}

