.heading{
    margin-left: 40%;
}

body {
    margin: 3em;
}
.mainContainer{
    margin:10% auto;
}
.editContainer{
    margin-left: -300px;
}
.card-img-top {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
}
.card-title {
    font-weight: bold;
    font-size: 1.5em;
}
.btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
}
  