
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            
            <!-- FOR DISPLAYING ERROR MESSEGE -->
            <div class="alert alert-danger" *ngIf="errorMessage">
                {{errorMessage}}
            </div>

            <!-- FOR DISPLAYING LOADING SPINNER -->
            <div *ngIf="loading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>

            <!-- FOR DISPLAYING FORM WHEN NOT LOADING... -->
            <h1 class="heading" *ngIf="!loading">SIGNUP </h1>
            <form [formGroup]="SignupForm"  (ngSubmit)="onSubmit()" *ngIf="!loading">
                
                <!-- USERNAME -->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" formControlName="username">
                    <span class="help-block" *ngIf="!SignupForm.get('username').valid && SignupForm.get('username').touched">please write a valid username</span>
                </div>
                
                <!-- EMAIL -->
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <span class="help-block" *ngIf="!SignupForm.get('email').valid && SignupForm.get('email').touched">please write a valid Email</span>
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <label for="email">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
                    <span class="help-block" *ngIf="!SignupForm.get('password').valid && SignupForm.get('password').touched">please write a valid password</span>
                </div>

                <!-- DROPDOWN URL -->
                <div class="form-group">
                    <label for="secret">Select HomeState URL?</label>
                    <select id="secret" class="form-control" formControlName="dropdownURL">
                      <option value="profile">My Profile</option>
                      <option value="recipes">Recipes View</option>
                      <option value="cart">Shopping Cart</option>
                    </select>
                    <span class="help-block" *ngIf="!SignupForm.get('dropdownURL').valid && SignupForm.get('dropdownURL').touched">please select a option</span>
                    <span class="help-block">This is to let you start from the same Page(which you select) when you visit our app next time.</span>
                </div>
                
                <button class="btn btn-primary heading" type="submit" [disabled]="!SignupForm.get('dropdownURL').valid || !SignupForm.get('username').valid || !SignupForm.get('email').valid || !SignupForm.get('password').valid">SignUp</button>
                <hr>
                <span class="help-block">Already have an Account?</span>
                <button class="btn btn-info" type="button" (click)="onClickLogin()">Login</button>
            </form> 
        </div>
    </div>
</div>